<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
      charset="utf-8"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      function getAccessToken() {
        const hash = window.location.hash.substring(1);
        const params = new URLSearchParams(hash);
        const token = params.get("access_token");
        axios.post("/user/checktoken", { accessToken: token }).then((res) => {
          if (!res.data.message) {
            window.location.href = "/";
          } else {
            alert(res.data.message);
            window.location.href = "/signup";
          }
        });
      }
      getAccessToken();
    </script>
  </body>
</html>
