<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script
      src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
      charset="utf-8"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/signup.css" />
    <title>Document</title>
  </head>
  <body class="none">
    <!-- 헤더 불러오기 -->
    <%- include('header') %>

    <div class="mainContainer">
      <div class="joinTitle">회원가입</div>
      <form id="signupForm">
        <div class="join">
          <div class="inputTitle">아이디</div>
          <div class="idInput">
            <input
              type="email"
              placeholder="이메일을 입력해주세요"
              name="email"
              id="email"
              required
            />
            <div id="emailCheck" class="emailCheck" onclick="emailCheck()">
              중복확인
            </div>
          </div>
        </div>
        <div class="join">
          <div class="inputTitle"></div>
          <div class="warning" id="emailMessage" style="color: red"></div>
        </div>
        <div class="join">
          <div class="inputTitle">이름</div>
          <input
            type="text"
            placeholder="이름을 입력해주세요"
            name="name"
            id="name"
            maxlength="20"
            required
          />
        </div>
        <div class="join">
          <div class="inputTitle"></div>
          <div class="warning" id="nameMessage" style="color: red"></div>
        </div>

        <!-- <script>
      // 눈 모양 이모티콘 클릭 시 비밀번호 보이기/숨기기 기능
      const eyeIcon = document.getElementById("eye-icon");
      const passwordInput = document.getElementById("password");

      eyeIcon.addEventListener("click", function () {
        // 비밀번호 입력란의 타입을 토글
        if (passwordInput.type === "password") {
          passwordInput.type = "text"; // 비밀번호 보이기
        } else {
          passwordInput.type = "password"; // 비밀번호 숨기기
        }
      });
    </script> -->

        <div class="join gender">
          <div class="inputTitle">성별</div>
          <label class="genderSelect"
            ><input
              type="radio"
              name="gender"
              value="female"
              required
            />여성</label
          >
          <label
            ><input
              type="radio"
              name="gender"
              value="male"
              required
            />남성</label
          >
        </div>
        <div class="join">
          <div class="inputTitle"></div>
          <div class="warning" id="genderMessage" style="color: red"></div>
        </div>

        <div class="join birth_input">
          <div class="inputTitle">생년월일</div>
          <select name="yy" id="year" required>
            <option value="" disabled selected>YYYY</option>
          </select>

          <select name="mm" id="month" required>
            <option value="" disabled selected>MM</option>
          </select>

          <select name="dd" id="day" required>
            <option value="" disabled selected>DD</option>
          </select>
        </div>
        <div class="join">
          <div class="inputTitle"></div>
          <div class="warning" id="birthMessage" style="color: red"></div>
        </div>
        <div class="join phone_input">
          <div class="inputTitle">휴대폰 번호</div>
          <input
            type="tel"
            id="phone1"
            name="phone1"
            placeholder="010"
            class="input0"
            maxLength="3"
            pattern="[0-9]{3}"
            required
          />
          <input
            type="tel"
            id="phone2"
            name="phone2"
            placeholder="0000"
            class="input0"
            maxLength="4"
            pattern="[0-9]{4}"
            required
          />
          <input
            type="tel"
            id="phone3"
            name="phone3"
            placeholder="0000"
            class="input0"
            maxLength="4"
            pattern="[0-9]{4}"
            required
          />
        </div>
        <div class="join">
          <div class="inputTitle"></div>
          <div class="warning" id="phoneMessage" style="color: red"></div>
        </div>
        <button
          type="button"
          id="signupBtn"
          class="signupBtn"
          onclick="signup()"
          disabled
        >
          회원가입
        </button>
      </form>
    </div>

    <!-- 푸터 불러오기 -->
    <%- include('footer') %>
  </body>
  <script src="/public/js/naverCheck.js"></script>
  <script></script>
</html>
