<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상세 페이지</title>
  </head>
  <style>
    .detailImg {
      width: 200px;
      height: 200px;
    }
  </style>
  <body>
    <h1><%= post.title %></h1>
    <!-- 게시글 제목 -->
    <p><%= post.updatedAt %></p>
    <!-- 게시글 업데이트 시간 -->
    <div>
      <img
        class="detailImg"
        src="<%= post.img || '/public/img/heartFull.png' %>"
        alt="게시글 이미지"
      />
    </div>

    <p><%= post.detail %></p>
    <!-- 게시글 내용 -->
  </body>
</html>
