<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="/public/css/find.css" />
  <body>
    <div class="container">
      <div class="back-button" onclick="goBack()">←</div>
      <h2 class="findIdPw">ID 찾기</h2>

      <!-- ID 찾기 -->
      <div class="findId">
        <div class="text2">가입 시 입력한 휴대폰 번호를 입력해주세요.</div>
        <div>
          <input
            type="tel"
            id="phone1"
            placeholder="010"
            class="input0"
            maxlength="3"
          />
          <input
            type="tel"
            id="phone2"
            placeholder="0000"
            class="input0"
            maxlength="4"
          />
          <input
            type="tel"
            id="phone3"
            placeholder="0000"
            class="input0"
            maxlength="4"
          />
        </div>
        <div id="phoneMessage"></div>
        <button onclick="idFind()">ID 찾기</button>
      </div>
      <div class="showId"></div>

      <!-- PW 찾기 -->
      <div class="findPw none">
        <div class="text2">가입 시 입력한 Email을 입력해주세요.</div>
        <input type="text" id="email" placeholder="abc123@XXX.com" />
        <button onclick="pwFind()">PW 찾기</button>
        <div class="showPw"></div>
      </div>

      <!-- PW 재설정 -->
      <div class="newPw none">
        <div class="text3">새 비밀번호</div>
        <input type="password" id="newPw" />
        <div class="text1"></div>
        <div class="text3">새 비밀번호 확인</div>
        <input type="password" id="checkPw" />
        <div class="text"></div>
        <div class="changePw"></div>
      </div>
    </div>
  </body>

  <script src="/public/js/find.js"></script>
</html>
