<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/login.css" />
  </head>
  <body>
    <form>
      <div>LOG IN</div>
      <div class="login">
        <input
          type="email"
          placeholder="이메일을 입력해주세요"
          name="email"
          id="email"
          required
        />
      </div>
      <div class="login">
        <input
          type="password"
          placeholder="비밀번호를 입력해주세요"
          name="password"
          id="password"
          required
        />
      </div>
      <div id="message"></div>

      <div type="button" id="login_btn" onclick="login()">로그인</div>
      <div>
        <div class="auth-links">
          <div id="find_id_btn" onclick="idFind('id')">ID 찾기</div>
          /
          <div id="find_id_btn" onclick="idFind('pw')">PW 찾기</div>
          <div id="join_btn" onclick="signup()">회원가입</div>
        </div>
      </div>
    </form>
  </body>
  <script src="/public/js/login.js"></script>
</html>
