<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- 네이버 -->
    <script
      src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
      charset="utf-8"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/login.css" />
  </head>
  <body>
    <form>
      <div>LOG IN</div>
      <div class="login">
        <input
          type="email"
          placeholder="이메일을 입력해주세요"
          name="email"
          id="email"
          required
        />
      </div>
      <div class="login">
        <input
          type="password"
          placeholder="비밀번호를 입력해주세요"
          name="password"
          id="password"
          required
        />
      </div>
      <div id="message"></div>
      <!-- 네이버 로그인 버튼 노출 영역 -->
      <div id="naverIdLogin"></div>
      <!-- //네이버 로그인 버튼 노출 영역 -->
      <div type="button" id="login_btn" onclick="login()">로그인</div>
      <div>
        <div class="auth-links">
          <div id="find_id_btn" onclick="idFind('id')">ID 찾기</div>
          /
          <div id="find_id_btn" onclick="idFind('pw')">PW 찾기</div>
          <div id="join_btn" onclick="signup()">회원가입</div>
        </div>
      </div>
    </form>
  </body>
  <script src="/public/js/login.js"></script>

  <script>
    const naverLogin = new naver.LoginWithNaverId({
      clientId: "r2e3fx9D8K59Ki8e_0U8",
      callbackUrl: "http://localhost:3000/check",
      loginButton: { color: "green", type: 2, height: 40 },
    });
    naverLogin.init(); // 로그인 설정
  </script>
</html>
