<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <style></style>
  <body>
    <header id="header">
      <div class="headerLeft">
        <div class="logo leftLogo">TALKTALK</div>
      </div>
      <div class="headerCenter">
        <div class="logo centerLogo" style="opacity: 0">TALKTALK</div>
      </div>
      <div class="headerRight">
        <div class="heart">
          <img src="/public/img/heartEmpty.png" alt="heart" />
        </div>
        <div class="login" id="loginBtn">login</div>
        <div class="signup" id="signupBtn">signup</div>
      </div>
    </header>

    <!-- 배경이미지가 들어갈 배너 영역 -->
    <div class="banner">
      <img src="" alt="" class="bannerImg" />
    </div>

    <div id="mainTitleMessage">
      <p>Where Conversations Happen!</p>
    </div>

    <!-- 메인 -->
    <div class="main">
      <div class="mainSubBox">
        <div class="categoryWrap">
          <button class="category" onclick="categoryType('1')">음악</button>
          <button class="category" onclick="categoryType('2')">영화</button>
          <button class="category" onclick="categoryType('3')">책</button>
          <button class="category" onclick="categoryType('4')">여행</button>
          <button class="category" onclick="categoryType('5')">반려동물</button>
        </div>
        <div class="create" onclick="create()">글쓰기</div>
      </div>
      <div class="postWrap"></div>
    </div>
    <footer id="footer">
      <div class="footerLogo"></div>
      <div class="footerInfo">
        <div>대표 박소현 진순흠</div>
        <div>주소 서울특별시 마포구 숭문 4길 6</div>
        <div>사업자 등록번호 000-00-00000</div>
        <br />
        <div>Copyright ⓒ 2025 TALKTALK All rights reserved.</div>
      </div>
      <div class="footerSNS"></div>
    </footer>
  </body>

  <script>
    // 글쓰기 버튼 클릭 시
    const create = () => {
      let cookies = document.cookie.split(";");
      const tokenCookie = cookies.find((item) =>
        item.trim().startsWith("token=")
      );

      if (tokenCookie) {
        const token = tokenCookie.split("token=")[1];
        console.log(token, "token");

        axios({
          method: "post",
          url: "/user/token",
          headers: {
            Authorization: `Bearer ${token}`, // JWT 토큰을 헤더에 담아서 전송
          },
        }).then((res) => {
          console.log(res.data.user);
          console.log(res.data.message);

          window.location.href = "/writing";
        });
      } else {
        alert("로그인이 필요합니다");
        window.location.href = "/login";
      }
    };
  </script>
  <script src="/public/js/main.js"></script>
</html>
