<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style></style>
  <body>
    회원가입 로그인 id 찾기 pw 찾기 비밀번호 수정 게시판 카테코리 게시판 좋아요
    이름
  </body>
  <script></script>
</html>
