<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TALKTALK</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <header id="header">
      <div class="headerLeft">
        <div class="logo leftLogo" onclick="goHome()">TALKTALK</div>
      </div>
      <div class="headerCenter">
        <!-- <div class="logo centerLogo" onclick="goHome()" style="opacity: 0">
          TALKTALK
        </div> -->
        <!-- <div
          style="
            display: flex;
            justify-content: center;
            gap: 30px;
            font-size: 22px;
            font-weight: 600;
          "
        >
          <div onclick="categoryType('1')">music</div>
          <div onclick="categoryType('2')">movie</div>
          <div onclick="categoryType('3')">book</div>
          <div onclick="categoryType('4')">travel</div>
          <div onclick="categoryType('5')">pet</div>
        </div> -->
      </div>
      <div class="headerRight">
        <div class="search">
          <input
            id="query"
            type="text"
            name="query"
            placeholder="search"
            required
          />
          <div class="searchIcon">
            <img src="/public/img/search.png" alt="search" />
          </div>
        </div>

        <div class="login" id="loginBtn">login</div>
        <div class="signup" id="signupBtn">signup</div>
      </div>
      <div class="menuBtn">
        <img id="menuIcon" src="/public/img/menu.png" alt="menu" />
      </div>
    </header>

    <!-- 메뉴가 나타날 오른쪽 상자 -->
    <div class="sideMenu" id="sideMenu">
      <div class="menuContent">
        <div class="closeBtn" id="closeBtn">
          <img src="/public/img/close.png" alt="close" />
        </div>
        <div class="menuItem" id="loginMenu">Login</div>
        <div class="menuItem" id="signupMenu">Sign Up</div>
        <div class="menuItem" id="myLikesMenu">My Liked Posts</div>
      </div>
    </div>

    <!-- 배경이미지가 들어갈 배너 영역 -->
    <div class="banner">
      <img src="" alt="" class="bannerImg" />
    </div>

    <div id="mainTitleMessage">
      <div class="TitleMessage">Where Conversations Happen!</div>
    </div>

    <!-- 메인 -->
    <div class="main">
      <div class="mainSubBox">
        <div class="sortBox">
          <select id="sort">
            <option value="newest">최신순</option>
            <option value="oldest">과거순</option>
            <option value="like-high">좋아요 많은 순</option>
            <option value="like-low">좋아요 적은 순</option>
          </select>
        </div>
        <div class="categoryWrap">
          <button class="category" onclick="postAll('1','1')">음악</button>
          <button class="category" onclick="postAll('2','1')">영화</button>
          <button class="category" onclick="postAll('3','1')">책</button>
          <button class="category" onclick="postAll('4','1')">여행</button>
          <button class="category" onclick="postAll('5','1')">반려동물</button>
        </div>

        <div class="create" onclick="create()">글쓰기</div>
      </div>
      <div class="postWrap"></div>
    </div>
    <div class="pagenation"></div>
    <div class="top" id="scrollTop">
      <img class="upImg" src="/public/img/up.png" alt="up" />
    </div>
    <footer id="footer">
      <div class="footerLogo"></div>
      <div class="footerInfo">
        <div>대표 박소현 진순흠</div>
        <div>주소 서울특별시 마포구 숭문 4길 6</div>
        <div>사업자 등록번호 000-00-00000</div>
        <br />
        <div>Copyright ⓒ 2025 TALKTALK All rights reserved.</div>
      </div>
      <div class="footerSNS"></div>
    </footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <script src="/public/js/main.js"></script>
</html>
