<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js"
      charset="utf-8"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <style></style>
  <body>
    <header id="header">
      <div class="headerLeft">
        <div class="logo leftLogo">TALKTALK</div>
      </div>
      <div class="headerCenter">
        <div class="logo centerLogo">TALKTALK</div>
      </div>
      <div class="headerRight">
        <div class="heart">
          <img src="/public/img/heartEmpty.png" alt="heart" />
        </div>
        <div class="login" id="loginBtn">login</div>
        <div class="signup" id="signupBtn">signup</div>
      </div>
    </header>

    <!-- 배경이미지가 들어갈 배너 영역 -->
    <div class="banner">
      <img src="" alt="" class="bannerImg" />
    </div>

    <div id="mainTitleMessage">
      <p>Where Conversations Happen!</p>
    </div>

    <!-- 메인 -->
    <div class="main">
      <div class="category"></div>
      <div class="postWrap"></div>
    </div>
  </body>
  <script>
    const postAll = () => {
      const post = document.querySelector(".postWrap");

      axios({
        method: "post",
        url: "/free/posting",
      })
        .then((res) => {
          // 응답받은 데이터를 HTML로 변환하여 postWrap에 삽입
          const posts = res.data.allPost;
          post.innerHTML = posts
            .map(
              (post) => `
        <div class="post">
          <h3>${post.title}</h3>
          <p>${post.content}</p>
        </div>
      `
            )
            .join("");
        })
        .catch((e) => {
          e, "error";
        });
    };

    // 스크롤 시 헤더 변화
    window.addEventListener("scroll", function () {
      const headerWrap = document.querySelector(".headerWrap");
      if (window.scrollY > 50) {
        headerWrap.classList.add("scroll");
      } else {
        headerWrap.classList.remove("scroll");
      }
    });
  </script>
  <script>
    const naverLogin = new naver.LoginWithNaverId({
      clientId: "r2e3fx9D8K59Ki8e_0U8",
      callbackUrl: "http://localhost:3000/",
      loginButton: { color: "green", type: 2, height: 40 },
    });
    naverLogin.getLoginStatus(function (status) {
      if (status) {
        const email = naverLogin.user.getEmail();
        const name = naverLogin.user.getName();
        const birthyear = naverLogin.user.getBirthyear();
        const birthday = naverLogin.user.getBirthday();
        console.log(email, name, birthyear, birthday);
        axios({
          method: "post",
          url: "/user/emailCheck",
          data: { email: email },
        }).then((res) => {
          if (res.data.message) {
            alert("가입되지 않은 아이디입니다.");
            window.location.href = `/signup`;
          } else {
            axios({
              method: "post",
              url: "/user/login",
              data: { email: email },
            }).then((res) => {
              console.log(res.data.token);
            });
          }
        });
      }
    });
  </script>
</html>
