<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <header id="header">
      <div class="headerLeft">
        <div class="logo leftLogo">TALKTALK</div>
      </div>
      <div class="headerCenter">
        <div class="logo centerLogo">TALKTALK</div>
      </div>
      <div class="headerRight">
        <div class="heart">
          <img src="/public/img/heartEmpty.png" alt="heart" />
        </div>
        <div class="login" id="loginBtn">login</div>
        <div class="signup" id="signupBtn">signup</div>
      </div>
    </header>

    <!-- 배경이미지가 들어갈 배너 영역 -->
    <div class="banner">
      <img src="" alt="" class="bannerImg" />
    </div>

    <div id="mainTitleMessage">
      <p>Where Conversations Happen!</p>
    </div>

    <!-- 메인 -->
    <div class="main">
      <div class="category"></div>
      <div class="postWrap"></div>
    </div>
  </body>
  <script src="/public/js/main.js"></script>
</html>
