<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 정보</title>
    <link rel="stylesheet" href="/public/css/mine.css" />
  </head>
  <body>
    <div class="box">
      <div class="sub">
        <div class="text_box">
          <div class="text_xl">마이 페이지</div>
          <br />
          <br />
          <div class="subBox">
            <div class="margin_top_btm mypost" onclick="myPost()">
              내가 작성한 게시글
            </div>
            <br />
            <div class="myheart" onclick="heartMove()">내가 좋아한 게시글</div>
            <br />
            <div class="myinfo blue" onclick="showMine()">내 정보</div>
          </div>
        </div>
      </div>
      <div class="main"></div>
    </div>

    <!-- ✅ 배경 오버레이 추가 -->
    <div class="overlay none" onclick="closeModal(1)"></div>

    <!-- ✅ 비밀번호 변경 모달 -->
    <div class="changePw none">
      <button class="close-btn" onclick="closeModal(1)">✖</button>
      <div class="pw-container">
        <div>새 비밀번호</div>
        <input type="password" id="password" placeholder="새 비밀번호" />
        <div class="text1"></div>
        <div>새 비밀번호 확인</div>
        <input type="password" id="checkPw" placeholder="새 비밀번호 확인" />
        <div class="text"></div>
        <div class="btnDiv"></div>
      </div>
    </div>

    <!-- ✅ 주소 변경 모달 -->
    <div class="changeAddress none">
      <button class="close-btn" onclick="closeModal(2)">✖</button>
      <div class="pw-container">
        <div>주소 찾기</div>
        <input type="text" id="postcode" placeholder="우편번호" required />
        <button class="exit-btn" onclick="execDaumPostcode()">
          우편번호 찾기
        </button>

        <input type="text" id="address" placeholder="주소" />

        <input type="text" id="detailAddress" placeholder="상세주소" />

        <input type="text" id="extraAddress" placeholder="참고항목" />

        <button class="exit-btn" onclick="updateAddress()">저장</button>
      </div>
    </div>
    <script src="/public/js/mine.js"></script>
  </body>
</html>
