<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Editor's Style -->
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/writing.css" />
  </head>
  <body>
    <div class="Container">
      <div class="imgBox">
        <!-- 파일 선택 상자는 숨기고 div 박스 클릭 시 파일 선택 -->
        <input
          id="imgFile"
          type="file"
          onchange="fileInput(event)"
          style="display: none"
        />
        <!-- 미리보기 박스 클릭 시 파일 선택 상자로 넘어감 -->
        <div id="prevContainer" onclick="inputPrevImg()">
          <img
            id="prevImg"
            src=""
            alt="미리보기"
            style="
              display: none;
              width: 300px;
              height: 300px;
              object-fit: cover;
            "
          />
          <span id="placeholder" style="display: block">이미지 선택</span>
        </div>
      </div>
      <div class="textBox">
        <select id="category">
          <option value="1">음악</option>
          <option value="2">미술</option>
          <option value="3">책</option>
          <option value="4">여행</option>
          <option value="5">반려동물</option></select
        ><br />

        <input id="title" type="text" placeholder="제목" /><br />
        <div id="detail"></div>
        <button onclick="createData()">등록</button>
      </div>
    </div>
  </body>
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/public/js/wiritng.js"></script>
</html>
