/* 전체 페이지 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* body와 html을 flex로 설정 */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* 메인부분 */
.main {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  margin-top: 120px;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  flex: 1;
}

.mainWrap {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-bottom: 50px;
}

.postNameBox {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.name {
  font-weight: bold;
}

.mainWrap p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
}

.detailImgBox {
  display: flex;
  justify-content: center;
}

.detailImg {
  width: 50%;
  /* height: 200px; */
  height: auto;
  border-radius: 4px;
  margin: 30px 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

.btnWrap {
  display: flex;
}

button {
  margin: 10px 0;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f0f0f0;
}

#editBtn,
#deleteBtn {
  display: inline-block;
  margin-right: 10px;
}
.clickHeart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.heartimg {
  width: 20px;
  height: 20px;
}

#detailBtn {
  display: inline-flex;
}

.homeBtn {
  display: none;
}

.homeBtn img {
  width: 20px;
  height: 20px;
}

.home {
  cursor: pointer;
  font-size: 14px;
  color: #555;
}

/* 푸터 */
footer {
  padding: 20px;
  border-top: 1px solid #bab8b8;
}

#footer {
  display: flex;
  justify-content: space-between;
}

.footerInfo {
  text-align: center;
}

@media (max-width: 768px) {
  /* 화면 너비가 768px 이하일 때 홈 버튼을 보이도록 설정 */
  @media screen and (max-width: 768px) {
    .homeBtn {
      display: block; /* 화면 너비가 768px 이하일 때 버튼 보이기 */
      display: flex;
      gap: 5px;
    }
  }
}
