body {
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
*/ .mainContainer {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;

  width: 100%;
  max-width: 500px;
  height: auto;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.join {
  margin-bottom: 20px;
  display: flex;
}

.inputTitle {
  width: 25%;
}

/*.join div {
  font-size: 14px;
  margin-bottom: 8px;
  color: #555;
}*/

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
select {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
select:focus {
  border-color: #0078d4;
  outline: none;
}
input[readonly],
select[readonly] {
  background-color: #f0f0f0; /* 회색 배경 */
  color: #888888; /* 글자 색 회색 */
  border: 1px solid #dcdcdc; /* 테두리 색 연한 회색 */
}
/* 생년월일 및 전화번호 인풋 정렬 */
.birth_input,
.phone_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.birth_input {
  margin-left: 2px;
  gap: 10px;
  width: 98.3%;
}
.phone_input {
  margin-left: 1px;
  gap: 10px;
  width: 100%;
}
.birth_input select,
.phone_input input {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

/* 회원가입 버튼 스타일 */
.signupBtn {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: white;
  background-color: #0078d4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

.signupBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signupBtn:hover:enabled {
  background-color: #005bb5;
}

/* 중복확인 버튼 스타일 */
.emailCheck {
  padding: 10px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  transition: 0.3s;
}

.emailCheck:hover {
  background-color: #ddd;
}
