* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* body와 html을 flex로 설정 */
html,
body {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  margin: 120px;
  border-radius: 8px;
  width: 100%;
  max-width: 550px;
  box-sizing: border-box;
  height: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.joinTitle {
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.join {
  margin-bottom: 5px;
  display: flex;
}

.inputTitle {
  width: 25%;
  display: flex;
  align-items: center;
}

/*.join div {
  font-size: 14px;
  margin-bottom: 8px;
  color: #555;
}*/

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
input[type="password"],
input[type="text"],
input[type="tel"],
select {
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
select:focus {
  border-color: orange;
  outline: none;
}
input[readonly],
select[readonly] {
  background-color: #f0f0f0; /* 회색 배경 */
  color: #888888; /* 글자 색 회색 */
  border: 1px solid #dcdcdc; /* 테두리 색 연한 회색 */
}
/* 생년월일 및 전화번호 인풋 정렬 */
.birth_input,
.phone_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.birth_input {
  margin-left: -2px;
  gap: 10px;
  width: 100%;
}
.phone_input {
  margin-left: -2px;
  gap: 10px;
  width: 100%;
}
.birth_input select,
.phone_input input {
  /* margin-bottom: 10px; */
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}

/* 회원가입 버튼 스타일 */
.signupBtn {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  color: white;
  background-color: #0078d4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.signupBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signupBtn:hover:enabled {
  background-color: orange;
}
.idInput {
  width: 75%;
  position: relative;
}

/* placeholder 색상 설정 */
input::placeholder {
  color: #888888; /* 원하는 색상으로 설정 */
}

/* birth 셀렉트의 텍스트 색상 설정 */
select {
  color: #888888; /* placeholder 색상과 동일한 색상 */
}

/* 중복확인 버튼 스타일 */
.emailCheck {
  position: absolute;
  top: 15%;
  right: 1%;
  padding: 5px 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.emailCheck:hover {
  background-color: #ddd;
}
.warning {
  margin-bottom: 10px;
  font-size: 15px;
  height: 20px; /* 원하는 크기로 조정 */
}
.genderSelect {
  margin-right: 70px;
}
.none {
  display: none;
}
